@import "../../../node_modules/taro-ui/dist/style/components/divider";
@import "~mp-colorui/dist/style/baseCSS.scss";
@import "~mp-colorui/dist/style/components/icon.scss";


.contain {
  margin-top: 5%;
  border: #444444;
}

.address {
  font-size: 30px;
  float: right;
}
